<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>项目路演</title>
    <!-- 引入 WeUI CDN 链接 -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.3.0/weui.min.css"/>
</head>
<body>

<div class="weui-form-preview">
    <div role="option" class="weui-form-preview__hd">
        <label class="weui-form-preview__label" th:text="${meeting.getName()}"></label>
        <em class="weui-form-preview__value" th:text="${project.getNo()}"></em>
    </div>
    <div role="option" aria-labelledby="p4 js_a11y_comma p5 js_a11y_comma p6" class="weui-form-preview__bd">
        <div id="p0" class="weui-form-preview__item">
            <label class="weui-form-preview__label">项目编号</label>
            <span class="weui-form-preview__value" th:text="${project.getNo()}"></span>
        </div>
        <div id="p1" class="weui-form-preview__item">
            <label class="weui-form-preview__label">项目简介</label>
            <span class="weui-form-preview__value" th:text="${project.getBrief()}"></span>
        </div>
        <div id="p2" class="weui-form-preview__item">
            <label class="weui-form-preview__label">团队背景</label>
            <span class="weui-form-preview__value" th:text="${project.getTeam()}"></span>
        </div>
        <div id="p3" class="weui-form-preview__item">
            <label class="weui-form-preview__label">核心产品</label>
            <span class="weui-form-preview__value" th:text="${project.getProduct()}"></span>
        </div>
        <div id="p4" class="weui-form-preview__item">
            <label class="weui-form-preview__label">行业赛道</label>
            <span class="weui-form-preview__value">这是行业赛道</span>
        </div>
        <div id="p5" class="weui-form-preview__item">
            <label class="weui-form-preview__label">应用领域</label>
            <span class="weui-form-preview__value">这是应用领域</span>
        </div>
        <div id="p6" class="weui-form-preview__item">
            <label class="weui-form-preview__label">融资轮次</label>
            <span class="weui-form-preview__value">A轮</span>
        </div>
        <div id="p7" class="weui-form-preview__item">
            <label class="weui-form-preview__label">现估值</label>
            <span class="weui-form-preview__value">这是财务数据</span>
        </div>
        <div id="p8" class="weui-form-preview__item">
            <label class="weui-form-preview__label">融资金额</label>
            <span class="weui-form-preview__value">这是财务数据</span>
        </div>
        <div id="p9" class="weui-form-preview__item">
            <label class="weui-form-preview__label">所在区域</label>
            <span class="weui-form-preview__value">北京市 朝阳区</span>
        </div>
    </div>
    <div class="weui-form-preview__ft">
        <a role="button" class="weui-form-preview__btn weui-form-preview__btn_primary"
           th:href="'javascript:applyMeeting(' + |${meeting.getId()}| +')'" th:text="${showText}" disabled></a>
    </div>
</div>

<div class="js_dialog" role="dialog" aria-hidden="true" aria-modal="true" aria-labelledby="js_title2" id="Dialog"
     style="display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd">您的报名已提交，请等待审核</div>
        <div class="weui-dialog__ft">
            <a role="button" href="javascript:" onclick="changeDialog(0)"
               class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
    </div>
</div>

<script>
    function changeDialog(flag) {
        let element = document.getElementById('Dialog');
        if (flag === 1) {
            element.setAttribute("style", "display:block");
        } else {
            element.setAttribute("style", "display:none");
        }

    }

    function applyMeeting(meetingId) {
        //发送请求
        fetch('/wx/applyMeeting?meetingId=' + meetingId, {
            method: 'GET'
        })
            .then(response => {
                if (response.ok) {
                    changeDialog(1);
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>
</body>
</html>